*{
     margin:0;
     padding:0;
     font-family: 'Poppins',sans-serif;
     box-sizing: border-box;


 }
 	html{
		scroll-behavior: smooth;
	}
     body{
         background: black;
         color: whitesmoke;
     }
     #header{
         width: 65%;
         height: 100vh;
         background-image: url(images/1port.png);
         background-size: cover;
         background-position: center;
	}
    .container{
	padding: 10px 80%;
	}
    .nav-container{
	
    	position: absolute;
    	left: 500px;
    	top: 20px;
	}
	.logo{
		margin-top: 200px;
	}
    nav{
	display:flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	} 

   
    nav ul {
       list-style: none;
       padding: 0;
       margin: 0;
       display: flex;
       }

    nav ul li{
	display:inline-block;
	margin: 10px 20px;
	}
    nav ul li a{

	color: #fff;
	text-decoration: none;
	font-size: 18px;
	position: relative;
	display: inline-block; 
	padding-bottom: 5px;
	}
    nav ul li a::after{
	content: "";
	width: 0;
	height: 3px;
	background: #ff004f;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.5s;
	
	}
    nav ul li a:hover::after{
	width: 100%;
	}
    .header-text{
	margin-top: 20%;
	font-size: 30px;
	width: 500px;
	}
     .header-text h1{
	font-size: 30px;
	margin-top: 10px;
	width:750px;
	} 
      .header-text h1 span{
	color: #ff004f;
	}
      #about{
	padding: 80px 0;
	color: #ababab;
	}
      .container1 {
   	display: flex;
   	justify-content: flex-start;
    	align-items: center;
    	width: 100%;
    	margin: 0;
    	padding-left: 20px; 
	}
       .row{
	display:flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: nowrap;
	}
       .about-col-1{
	flex: 0 0 auto;
	margin-left: 20px;
	margin-top: 300px;
	}
       .about-col-1 {
   	border: hidden;
	}
       .about-col-1 img{
	width: 250px; 
    	
    	border-radius: 15px;
    	display: block;
		margin-top: 2px;
	}
       .about-col-2{
	flex: 1;
	text-align: left;
	left: 400px;
	margin-top: 200px;
	}
       .about-col-2 h1 {
	width: 700px;
    	font-size: 60px;
    	font-weight: 600;
    	color: #fff;
	}
       .sub-title{
	font-size: 60px;
	font-weight: 600;
	color: #fff;
	padding-left: 10px;
	}
	.tab-titles{
		display: flex;
   		margin: 20px 0 40px; 
		position:absolute;
		padding-left: 240px;
		margin-top: 200px;
	}
	.tab-links{
		margin:50px;
		font-size: 18px;
		font-weight: 500px;
		cursor: pointer;
		position: relative;
		top: 140px;
		margin-right: 120px;
		
	}
	.tab-links::after{
		content: '';
		width: 0;
		height: 3px;
		background: #ff004f;
		position: absolute;
		left: 0;
		bottom; -8px;
		transition: 0.5s;
		top: 18px;
	}
	.tab-links.active-link::after{
		width:50%
	}
	.tab-contents{
		width: 400px;
		margin-top: 380px;
		margin-right: 410px;
		position: absolute;
		left: 300px;
		

	}




	.tab-contents ul{
		list-style: none;
		margin: 10px 0;
		
	}
	.tab-contents ul li span{
		color: #ff004f;
		font-size: 14px;
	}
	.tab-contents{
		display: none;
	}
	.tab-contents.active-tab{
		display: block;
		margin-top: 600px;

	}
	#EDUCATION{
		width: 440px;
		margin-top: 600px;
		margin-right: 450px;
		position: absolute;
		left: 540px;
		
	}
	#services{
		margin-top: 1700px;
		padding: 30px 0;
		width: 400px;
		position: absolute;
		left: -280px;
	}
	.sub-title1{
		width: 900px;
		color: cornsilk;
		font-size: 50px;
	}
	.services-list{
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		grid-gap: 40px;
		margin-top: 50px;
	}
	.us{
		
		position: absolute;
		left: 640px;
		width: 300px;
	}
	.services-list div{
		background: #262626;
		padding: 20px;
		font-size: 15px;
		font-weight: 300;
		border-radius: 10px;
		transition: background 0.5s, transform 0.5s;
	}
	.services-list div i{
		font-size: 50px;
		margin-bottom: 30px;
	}
	.services-list div h2{
		font-size: 30px;
		font-weight: 500;
		margin-bottom: 15px;
	}
	.services-list div a{
		text-decoration: none;
		color: #fff;
		font-size: 12px;
		margin-top: 20px;
		display: inline-block;

	}
	.services-list div:hover{
		background: #ff004f;
		transform: translateY(-10px);
	}
	#portfolio{
		margin-top: 3200px;
		width: 400px;
		padding: 30px 0;
		position: absolute;
		left: -280px;
	}
	.work-list{
		display: grid;
		grid-template-columns: repeat(300, minmax(250px, 1fr));
		grid-gap: 40px;
		margin-top: 50px;
	}
	.work{
		border-radius: 10px;
		position: relative;
		overflow: hidden;
	}
	.work img{
		width: 100%;
		border-radius: 10px;
		display: block;
		transition: transform 0.5s;
	}
	.layer{
		width: 100%;
		height: 0;
		background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.4) 50%, #ff004f 100%);
		border-radius: 10px;
		position: absolute;
		left: 0;
		bottom: 0;
		overflow: hidden;
		display:flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding: 0 40px;
		text-align: center;
		font-size: 14px;
		transition: height 0.5s;

	}
	.layer h3{
		font-weight: 500;
		margin-bottom: 20px;

	}
	.layer a{
		margin-top: 20px;
		color: #ff004f;
		text-decoration: none;
		font-size: 18px;
		line-height: 60px;
		background: #fff;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		text-align: center;
	}
	.work:hover img{
		transform: scale(1.1);
	}
	.work:hover .layer{
		height: 100%;
	}
	.btn{
		display: block;
		margin: 15px;
		width: fit-content;
		border: 1px solid #ff004f;
		padding: 7px 20px;
		border-radius: 6px;
		text-decoration: none;
		color: #fff;
		transition: background 0.5s;
		height: 30px;
	}
	.btn:hover{
		background: #ff004f;
	}
	.contact-left h1{
		color:darkblue;
	}
	.contact-left{
		left: 0px;
	}
	.contact-right{
		margin-left: 200px;
		
	} 
	.contact-left p i{
		color: #ff004f;
		margin-right: 15px;
		font-size: 25px;
	}
	.social-icons{
		margin-top: 30px;
	}
	.social-icons a{
		text-decoration: none;
		font-size: 30px;
	    margin-right: 15px;
		color: #ababab;
		display: inline-block;
		transition: transform 0.5s;
	}
	.social-icons a:hover{
		color: #ff004f;
		transform: translateY(-5px);
	}
	.btn.btn2{
		display: inline-block;
		background: #ff004f;
		padding: 10px;
		border-radius: 10px;
		color: white;
	}
	.contact-right form{
		margin-top: 100px;
		width: 500px;
	}
	form input, form textarea{
		width: 700px;
		border: 0;
		outline: none;
		background: #262626;
		padding: 15px;
		margin: 15px 0;
		color: #fff;
		font-size: 18px;
		border-radius: 6px;
	}
	form.btn2{
		padding: 14px 60px;
		font-size: 18px;
		cursor: pointer;
	}
	.copyright{
		position: absolute;
		left: 500px;
		width: 600px;
		text-align: center;
		padding: 25px 0;

		font-weight: 300;
		margin-top: 20px;

	}
	.nav-container ul i{
		display: none;
	}
	.nav-container i{
		display: none;
	}
	
	@media only screen and (max-width: 400px){
		#header{
			background-image: url(images/abhiph.png);
		}
		.header-text{
			margin-top: 100px;
		 	font-size: 16px;
			width: 0px;
			left: 0;
		}
		.header-text h1{
			font-size: 24px;
			margin-left: -90px;
			
		}
		.nav-container ul i{
			display: block;
			/*left: 40px;*/
			
		}
		.nav-container i{
			display: block;
			margin-left: -230px;
		}
		.menu-icon {
  position: fixed;      /* keep it in one place */
  top: 20px;
  right: 1200px;
  font-size: 22px;
  color: white;
  z-index: 1001;        /* must be higher than sidemenu */
  cursor: pointer;
}

		#sidemenu {
  position: ;
  top: 0;
  margin-left: -400px;
  right: -2700px; /* hidden by default */
  width: 2700px;
  height: 80vh;
  background-color: #ff004f;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  transition: right 0.5s ease;
  z-index: 1000;

  /* MAKE CHILD ICONS RELATIVE TO THIS */
  position: relative;
}

	#sidemenu .close-icon{
  position: absolute;
  top: 15px;
  /*margin-le
  margin-right: 300px;*/
  right: 2600px;
  color: white;
  font-size: 22px;
  cursor: pointer;
  z-index: 10;
}

		


		nav ul li{
			display: block;
			margin: 25px;
			padding: 10px 20px;

		}
		       .about-col-2 h1 {
		margin-top: 80px;
		width: 393px;
    	font-size: 30px;
    	font-weight: 600;
    	color: #fff;
		margin-left: -230px;
	}
	       .about-col-1 img{
	width: 250px; 
    	
    	
    	
		margin-top: -470px;
	}
		   .about-col-2 .p1{
		margin-top: 240px;
		width: 300px;
    	font-size: 20px;
    	font-weight: 30;
    	color: #fff;
		margin-left: -270px;
	}
			   .about-col-2 .p2{
		margin-top: 25px;
		width: 300px;
    	font-size: 20px;
    	font-weight: 30;
    	color: #fff;
		margin-left: -270px;
	}
			   .about-col-2 .p3{
		margin-top: 20px;
		width: 300px;
    	font-size: 20px;
    	font-weight: 30;
    	color: #fff;
		margin-left: -270px;
	}
	
	.tab-titles {
  text-align: center;
  margin-top: 920px;
  margin-left: -260px;
}

.tab-links {
  display: inline-block;
  margin: 10px 20px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: #555;
}

.tab-links.active-link {
  color: #007bff;
  border-bottom: 2px solid #007bff;
}



	#SKILLS,#EDUCATION{
		margin-top: 1400px;
	}
	#SKILLS{
		margin-left: -280px;
	}
	#EDUCATION{
		margin-left: -520px;
		width: 280px;
	}
	#services{
		margin-top: 2000px;
	}
	.sub-title1{
		font-size: 30px;
		font-weight: 70;
	}
	.wb{
		width: 250px;
		height: 260px;
	}
	.us{
		margin-top: 280px;
		margin-left: -320px;
		width: 250px;
	}
	#portfolio{
		margin-top: 5500px;
	}
	#w1{
		margin-top: 50px;
		width: 260px;
		height: 300px;
		
	}
	#w2{
		margin-top: 400px;
		margin-left: -290px;
		width: 260px;
		height: 300px;
	}
	#w3{
		margin-top: 770px;
		margin-left: -570px;
		width: 260px;
		height: 300px;
	}
	.contact-left{
		margin-top: -420px;
	}
	#bx{
		margin-top: 1100px;
		margin-left: -850px;
	}
	.contact-right form{
		margin-top: 280px;
		margin-left: -400px;
		width: 280px;
	}
	form input, form textarea{
		width: 250px;
	}
	.copyright{
		margin-left: -400px;
	}

	}
#span{
	color: #61b752;
	margin-top: -40px;
	display: block;
}


		